<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Login - Maid App</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen px-4">

    <div class="bg-white shadow-md rounded-md w-full max-w-sm p-6">
        <h2 class="text-xl font-bold text-center mb-4">Sweep Smart <i
                class="p-1 bg-gray-100 rounded-md text-green-600">Verification Login</i></h2>
        <form method="POST">
            {% csrf_token %}

            <div class="mb-4">
                <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
                <input type="text" id="username" name="username" required
                    class="w-full mt-1 px-3 py-2 border rounded-md focus:ring focus:outline-none" value="myVerifyPerson" />
            </div>
            <div class="mb-4">
                <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                <input type="password" id="password" name="password" required
                    class="w-full mt-1 px-3 py-2 border rounded-md focus:ring focus:outline-none" value="my#Verific123" />
            </div>
            <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700">Login</button>
        </form>


        <div class="text-center mt-4">
            <a href="/home" class="text-blue-600 hover:underline ">🏠 Home</a>
        </div>
    </div>
</body>

</html>